
.staff {
  display: flex;
  align-items: center;
  justify-items: center;
  box-shadow: 7px 7px 5px lightgray;
  margin-top: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  
}

.staff:hover {
  transform: translate(-3px, -3px);
}

.staff:active {
  background-color: rgb(0,204,0);
}

.staff-info {
  padding: 25px;
  margin-top: 20px;
  box-shadow: 0px 0px 19px 5px lightgray;
}

label {
  margin-left: 20px;
}

select {
  margin-left: 10px;
}
